@charset "UTF-8";
/* CSS Document */
header{
	color: black;
	text-align: center;
}
p {
  text-align: center;
  color: black;
  font-family: arial;
}
body{
	background-color:darkslategray;
}
table{
	border-style: none;
	background-color:transparent;
}
th,td{
	border-style: none;
	background-color:darkcyan;
}
#prices{
	text-align: center;
}