@charset "UTF-8";
/* CSS Document */
p {
  text-align: center;
  color: black;
  font-family: arial;
}
body{
	color: antiquewhite;
	background-color:aqua;
	background: url(http://www.w3school.com.cn/i/eg_background.jpg);
}
table{
	color: black;
	border-style: solid;
	background-color: blueviolet;
}